@font-face {
    font-family: calibri;
    src: url("calibri.ttf");
}

html, body {
    padding: 0;
    margin: 0;
    font-family: calibri;
    cursor: none;
}

body {
    background-color: #000;
    color: #fff;
    -webkit-font-smoothing: none;
}

#canvas, #container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    padding-top: 10px;
    text-align: center;
}

h1, p {
    margin: 0;
    padding: 0;
}

h1 { font-size: 36px; }

p { font-size: 16px; }

#comment { margin-bottom: 5px; }
