body, html {
    width: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;

    font-family: roboto mono, consolas, monospace;
    font-size: 20px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 5rem 0;
}

#matrix {
    z-index: -1;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000000;
}

h1 {
    text-align: center;
    font-family: dseg14, consolas, monospace;
    font-size: 48px;

    color: #00ff00;
    text-shadow: 0 0 20px;
}

/* main div, blocks */

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    width: 80%;
}

.block-alone, #disclaimer:before, .block {
    border-radius: .4em;
    backdrop-filter: blur(5px);
}

.block {
    padding: .5em 2em;
    width: 300px;

    background-color: #cccccc20;
    border: 2px solid #cccccc;

    text-shadow: 0 0 10px;
}

.block-alone {
    position: relative;
    max-width: 800px;
    margin-bottom: 3rem;

    text-align: justify;
}

.block-alone:before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(.7em, -50%);
    padding: .2em .4em;

    background-color: #000000;
    text-shadow: 0 0 10px;
}

#disclaimer {
    border-color: #ff5c5c;
    background-color: #ff5c5c20;
    width: fit-content;
}

#disclaimer:before {
    content: "DISCLAIMER";
    color: #ff5c5c;
    border: 2px solid #ff5c5c;
}

#disclaimer p {
    color: #ff5c5c;
}

#explanation {
    border-color: #ffc85c;
    background-color: #ffc85c20;
    width: fit-content;
}

#explanation:before {
    content: "Comment ça marche ?";
    color: #ffc85c;
    border: 2px solid #ffc85c;
}

#explanation p {
    color: #ffc85c;
}

/* confloose list content */

#confloose-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.block h3 {
    margin: 1rem 0;
}

.block p {
    color: #cccccc;
}

#confloose-list .block p {
    margin: 0;
    font-size: .8em;
}

.block input {
    position: relative;
    cursor: pointer;

    display: block;
    margin: 1rem 0;
    padding: 5px;
    border: 2px solid #20402080;
    width: 100%;

    font-family: sometype, consolas, monospace;
    font-size: 1rem;

    background-color: #000000;
    color: #00cc00;

    overflow: hidden;
}

.block input:hover {
    border: 2px solid #008000;
}
