body, html {
    width: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;

    font-family: roboto mono, consolas, monospace;
    font-size: 20px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 5rem 0;
}

#matrix {
    z-index: -1;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000000;
}

h1, h2 {
    text-align: center;
    font-family: dseg14, consolas, monospace;

    color: #00ff00;
    text-shadow: 0 0 20px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    margin: 1em 0 0 0;
}

@media (max-width: 700px) {
    h1 {
        font-size: 24px;
    }
}

/* main div, blocks */

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    width: 80%;
}

.block-alone, .block {
    border-radius: .4em;
    backdrop-filter: blur(5px);
}

.block-alone:before, .annotation:before {
    border-radius: .4em;
}

.block {
    margin: 0 5%;
    padding: .5em 2em;
    width: 300px;

    background-color: #cccccc20;
    border: 2px solid #cccccc;

    text-shadow: 0 0 10px;
}

.block-alone {
    position: relative;
    max-width: 800px;
    margin-bottom: 3rem;

    text-align: justify;
}

.block-alone:before, .annotation:before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(.7em, -50%);
    padding: .2em .4em;

    border: 2px solid #000000;
    background-color: #000000;
    text-shadow: 0 0 10px;
}

#disclaimer {
    width: fit-content;
    border-color: #ff5c5c;
    background-color: #ff5c5c20;
}

#disclaimer:before {
    content: "DISCLAIMER";
    border-color: #ff5c5c;
    color: #ff5c5c;
}

#disclaimer p {
    color: #ff5c5c;
}

#explanation {
    width: fit-content;
    border-color: #ffc85c;
    background-color: #ffc85c20;
}

#explanation:before {
    content: "Comment ça marche ?";
    border-color: #ffc85c;
    color: #ffc85c;
}

#explanation p {
    color: #ffc85c;
}

/* confloose list content */

#confloose-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#confloose-list .block {
    cursor: pointer;

    transition: .3s;
}

#confloose-list .block p {
    margin: .5rem 0;
    color: #cccccc;
    font-size: .8em;

    pointer-events: none;
}

#confloose-list .block p.title {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #ffffff;
}

#confloose-list .block:not(.selected):not(:hover) {
    color: #aaaaaa;
    border-color: #aaaaaa;
    background-color: #55555570;
    backdrop-filter: blur(20px);
    filter: saturate(0);
}

#confloose-list .block.selected {
    border-color: #aa3333;
    background-color: #aa333320;
    box-shadow: 0 0 50px #aa3333a0;
}

#confloose-list .block.selected p {
    color: #ffdddd;
}

#command-container {
    width: 100%;
    padding: 10px 5%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #80808050;
    backdrop-filter: blur(5px);
    border: 2px solid #808080;
    border-width: 2px 0 2px 0;
}

@media (max-width: 700px) {
    #command-container {
        flex-direction: column;
    }
}

input {
    position: relative;
    cursor: pointer;

    display: block;
    margin: 1rem 0;
    padding: 5px;
    border: 2px solid #50705080;
    width: 100%;
    max-width: 300px;

    font-family: sometype, consolas, monospace;
    font-size: 1rem;

    background-color: #000000;
    color: #00cc00;

    overflow: hidden;
}

input:hover {
    border: 2px solid #008000;
}

.block code {
    color: #00cc00;
    font-family: sometype, consolas, monospace;
}

/* annotations */

.annotation.needs-testing:before {
    content: "Needs testing";
    border-color: #b359cd;
    color: #b359cd;
}

.annotation.author-favorite:before {
    content: "Author favorite";
    border-color: #e1c75d;
    color: #e1c75d;
}

.block.annotation {
    margin-top: 1em;
}
